.carousel {
  height: 15vh;

  span {
    text-align: center;
  }

  picture {
    display: flex;
    justify-content: center;

    img {
      height: 9vh;
    }
  }
  .group-id {
    text-align: right;
  }
}
