body {
  background-color: #0a14a6;
  background-size: cover;
}

.logoImg {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  height: 100px;
}

#mainNavbar {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}

#mainNavbar {
  .nav-link {
    color: white;
    margin-left: 40px;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid;
      background: #83e9f2;
      border-radius: 6px;
      color: #131f61;
    }
  }
}

h1 {
  color: white;
}

.card {
  background-color: #131f61;
  color: white;
}

.card-header {
  text-align: center;
}

.list-group-item {
  background-color: #131f61;
}

li {
  span {
    color: white;
  }

  img {
    width: 40%;
    margin-right: 15px;
  }
}
