.group-id-header {
  background: #343a40;
  margin: 0;
  padding-left: 40px;
}

.accordion-container {
  margin-top: -20px;
  margin-bottom: 30px;

  .accordion-card {
    border: none;
  }

  .accordion-button {
    float: left;

    &:hover {
      text-decoration: none;
      background-color: #343a40;
    }
  }
}
